[Unit]
Description=pihole stats
After=syslog.target network.target auditd.service

[Service]
User=root
ExecStartPre=/bin/sleep 30
ExecStart=/home/bob/piholedisplay/start-pihole-stat.sh

[Install]
WantedBy=multi-user.target
